footer{
    margin-top: 550px;
    text-align: center;
}

#sidebar, #main-content, #submenu {
    transition: all 0.3s ease-in-out;
}

.sidebar-text {
    transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    white-space: nowrap; /* Impede que o texto quebre a linha durante a transição */
    overflow: hidden; /* Esconde o texto que transborda */
}
